<%= form_with(model: food, html: { class: 'foo'}, url: foods_path) do |form| %>

<div class='food-form'>
  <div class='form-input'>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'input'  %>
  </div>

  <div class='form-input'>
    <%= form.label :measurement_unit, style: "display: block" %>
    <%= form.text_field :measurement_unit, class: 'input'  %>
  </div>

  <div class='form-input'>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: 'input'  %>
  </div>

  <div class='form-input'>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, class: 'input' %>
  </div>

  <div>
    <button class='create-food'>
     <%= form.submit 'Add food' %>
    </button>
  </div>
</div>
<% end %>
