<%# <p style="color: green"><%= notice %></p> %>

<%# <%= render @food %> %>

<%# <div> %>
  <%# <%= link_to "Edit this food", edit_food_path(@food) %> | %>
  <%# <%= link_to "Back to foods", foods_path %> %>

  <%# <%= button_to "Destroy this food", @food, method: :delete %> %>
<%# </div> %>

<h1>Foods#show</h1>
<section class = "">
   <div class="">
      <h2>Food Information</h2>
      <p>Food Name: <strong><%= @food.name%></strong></p>
      <p>Measurment Unit: <strong><%=  @food.measurement_unit%></strong></p>
      <p>Quantity: <strong><%= @food.price%></strong></p>
      <p>Unit Price: <strong><%= @food.quantity%></strong></p>
   </div>
</section>